# Node / Frontend
frontend/node_modules
frontend/.cache
frontend/.parcel-cache
frontend/build
frontend/dist

# React/CRA
frontend/.env

# Python / Backend
backend/.env
backend/.venv/
.venv/
__pycache__/
*.pyc

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Misc
.env
coverage/